.mainArea{
    background-color: white;
  width: 100%;
  height: 100%;

 
}

.mainArea .logo {


width: 50%;
height: 50%;



position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
justify-content: center;
align-items: center;
}

.mainArea .logo span{
  position:fixed;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: 5px;
  color: rgb(255,255,255);
}